.vscode/**
.vscode-test/**
src/**
test/**
node_modules/.package-lock.json
node_modules/@types/**
node_modules/@vscode/**
node_modules/mocha/**
node_modules/typescript/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
!out/**
